/*
    --clr__primary: black;
    --clr__secondary: white;
    --clr__other: #FF479F;
    --font_family--primary: 'Poppins', sans-serif;
    --font_family--secondary: 'Playball', cursive;
    --font_wght--default: 400;
    --font_wght--medium: 500;
    --font_wght--header: 700;
    --font_sze--mini: clamp(1.7vw, 0.7rem, 1.7rem);
    --font_sze--default: clamp(2.5vw, 1.5rem, 3rem);
    --font_sze--header: clamp(6vw, 4rem, 7rem);
    --font_sze--subheader: clamp(4vw, 2.5rem, 5rem);
    --card__gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
    --card__shadow: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
    --transition-ease: 0.5s cubic-bezier(1,.01,.02,1.03);
    --clamp__margin-leftright: clamp(13vw, 20px, 250px);
*/

main {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin: 0 var(--clamp__margin-leftright);
  margin-top: 50px;
}

.products {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.products > * + * { margin-left: 25px;}


