.about {
  display: flex;
  flex-direction: column;
}

.about div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.about p {
  text-align: left;
}


.about img {
	height: 350px;
	width: 350px;
}

@media only screen and (max-width: 850px) {
  .about img {
    height: 200px;
    width: 200px;
  }
  .about div { gap: 50px; }
}

@media only screen and (max-width: 550px) {
  .about div { flex-direction: column-reverse; gap: 50px; }
}


