@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
    --primary: black;
    --secondary: white;
    --font_family--primary: 'Poppins', sans-serif;
    --font_family--secondary: 'Poppins', sans-serif;
    --font_wght--default: 400;
    --font_wght--medium: 500;
    --font_wght--header: 700;
}

body {
    background-color: #fff;
    margin: 0;
}



