@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
    --clr__primary: black;
    --clr__secondary: white;
    --clr__other: yellow;
    --font_family--primary: 'Poppins', sans-serif;
    --font_family--secondary: 'Playball', cursive;
    --font_wght--default: 400;
    --font_wght--medium: 500;
    --font_wght--header: 700;
    --font_sze--mini: clamp(1.8vw, 0.8rem, 1.8rem);
    --font_sze--default: clamp(2.5vw, 1.5rem, 3rem);
    --font_sze--header: clamp(6vw, 4rem, 7rem);
    --font_sze--subheader: clamp(4vw, 2.5rem, 5rem);
    --card__gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
    --card__shadow: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
    --transition-ease: 0.5s cubic-bezier(1,.01,.02,1.03);
}

body {
    background-color: #fff;
    margin: 0;
}

section {
    margin: 50px 250px 0 250px;
}

@media only screen and (max-width: 1265px) { section { margin: 50px 150px 0 150px } }
@media only screen and (max-width: 1060px) { section { margin: 50px 70px 0 70px } }
@media only screen and (max-width: 905px) { section { margin: 50px 20px 0 20px } }

