@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.header {
    font-family: 'Playball', crusive;
    font-size: 75px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
